---
import { getArticles, type Article } from '../services/microcms'
import { JSDOM } from 'jsdom'

interface Props {
  title: string
  content: string
}

const { title, content } = Astro.props

// propsは操作禁止なので、Post.astro内で編集出来るコンテンツを準備
let processedContent = content

// リンク変換
const linkRegex = /《.*》/g
const matches = processedContent.match(linkRegex)
const articles = await getArticles({ fields: ['id', 'title'] })
if (matches) {
  matches.forEach((linkStr: string) => {
    const pageTitle = linkStr.replace('《', '').replace('》', '')
    const pageInfo = articles.contents.find((article: Article) => {
      return article.title === pageTitle
    })
    // 該当ページが存在する場合リンク化
    if (pageInfo) {
      const href = pageInfo.id
      // stringによる埋め込みなため、classはベタ書き
      processedContent = processedContent.replace(
        linkStr,
        '<a href="/' + href + '">' + pageTitle + '</a>',
      )
    }
  })
}

// リンクへのスタイリング
const dom = new JSDOM(processedContent)
dom.window.document.querySelectorAll('a').forEach((li) => {
  li.classList.add('font-normal', 'text-blue-700', 'no-underline')
})
processedContent = dom.serialize()
---

<p class="text-3xl font-bold bg-blue-200 py-2 mb-5">{title}</p>
<div class="prose prose-sm max-w-full" set:html={processedContent} />
